# API Configuration
VITE_BACKEND_URL=http://localhost:5000
VITE_API_URL=/api/v1

# Site Information
VITE_SITE_NAME=WalMart Clone

# Third Party Keys (Get these from your dashboard)
VITE_RAZORPAY_KEY_ID=
VITE_GOOGLE_CLIENT_ID=
